
.photo-gallery, .photo-gallery li {
  list-style: none;
  padding: 0;
}

.photo-gallery li {
  display: inline-block;
  width: 25%;
}

.photo-gallery li img {
  width: 100%;
}

figure {
  border: 1px #cccccc solid;
  margin: auto;
}

figcaption {
  background-color: grey;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: 14px;
}

