<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts limit: 12%}
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <a href="{{ post.url | relative_url }}">
                                    <p class="title is-3">{{post.title}} <span class="tag is-white is-pulled-right"><small>{{ post.date | date: '%B %d, %Y'}}</small></span></p>
                                    <p class="subtitle"><small>{{post.excerpt | remove: '<p>' | remove: '</p>'}}</small></p>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                {% assign remainder = forloop.index | modulo: 3 %}
                {% if remainder == 0 %}
                    <hr style="height:1px;width:70%;border-width:0;color:gray;background-color:gray;margin-left:auto; margin-right: auto;">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

