<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        {% assign zooms = (site.zooms | sort: 'title'%}
        {% for z in zooms %}
          {% if z.tags contains page.tag %}
            <div class="box">
               <article class="media">
                  <div class="media-content">
                     <div class="content">
                       <a href="{{ z.url | relative_url }}">
                          <p class="title is-3">{{z.title}} <span class="tag is-white is-pulled-right"><small>{{ z.date | date: '%B %d, %Y'}}</small></span></p>
                          <p class="subtitle"><small>{{z.excerpt | remove: '<p>' | remove: '</p>'}}</small></p>
                       </a>
                    </div>
                 </div>
                </article>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

